{% extends "teams/master.html" %}

{% block title %}
  Liste over links sendt i TEAMS
{% endblock %}

{% block content %}
<h1>I forbindelse med at finde samtlige links,<br> faldt jeg over nogle lidt sjove citater eller situationer i chatten.<br> her kommer et par stykker</h1>
<hr>
<h3>Og allerede d. 19/1-22 har du haft sendt nogle af de samme et par gange,<br>da jeg skriver: 'det sjove ved de sidste to links er, at det var nogle jeg havde gemt i forvejen,<br> men jeg har ikke set om det er nogle jeg selv har fundet, eller om du har sendt'</h3>
<hr>
<h3>d. 14/1-22 har vi sendt ca. 60 links til hinanden. Start d. 7/1-21</h3>
<hr>
<h3>Det er ikke alting man skal lære af sin 'lærer': jeg har fork den, så den ligger som nr 1. men ok. <br>er bare bange for at have lært for meget ved min chef og læremester, <br>nemlig at smadre HI HI HI</h3>
<hr>
<h3>d. 4/12-21 skriver jeg efter et møde vi har haft <br>
    'Power apps, kan jeg godt forstå du ikke synes er nem.' <br>
    og d. 13/12-22 igen: 'Men Ja som jeg sagde power apps er ikke let <br>
    Det er jeg ikke enig i mere ;) Du kan jo se noget af alt det jeg har lavet</h3>
    <hr>
<h3>18/3-23 skriver du: ' Power Apps er nemmere for dig', <br>
    det er jo nok derfor jeg er kommet så langt, men vil <br>
    jo også gerne lære det andet</h3>

<hr>
<h3>Og når det går forstærkt: <br>
    [21-03-2023 10:52] Lone Hilke<br>
    Har i droppet ugenyt i denne uge? <br>
    [21-03-2023 10:52] Jesper Gravlev Qvist<br>
    ja, du skal selv lægge data i</h3>
<hr>
<h3>Jeg ved ikke hvor mange gange jeg er stødt på:<br>
    'Jeg har ikke tid lige nu...'<br>
    'Jeg ser på det på mandag...'<br>
    'Det skal jeg nok lære dig en anden dag/gang/på et tidspunkt...'</h3>
<hr>

{% endblock %}