{% load static %}
<!DOCTYPE html>
<html>
  
<head>
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="topnav">
    <a href="/">HOME</a> |
    <a href="/index">Links</a> | 
    <a href="/add_link">Tilføj Links</a> | 
    <a href="/index2">Fra JQ</a> |
    <a href="/index3">Fra LH</a> |
    <a href="/fun">Fun facts</a> | 
    <a href="/todo"> Todo </a>
  </div>
{% block content %}
{% endblock %}

</body>
</html>